html {
  overflow-y: scroll;
}

.Slide {
	color: white;
	font-size: 100%;
	font-family: monospace;
	text-align: center;
	width:100px;
	background-color:#ffafaf;
	padding: 5px;
}

.Slide:hover {
	background-color:#ef4545;
}

*{
	font-family: monospace;
}

.title {
	margin: 0;
	margin-top:50px;
	font-size: 400%;
	text-align: center;
	color: #ab3535;
}

.subtitle {
	margin: 0;
	margin-bottom:50px;
	font-size: 225%;
	text-align: center;
	color: #ab3535;
	font-weight: normal;
}

hr.menu{
	padding:2px;
	background-color: #e83535;
}

pre.menu{
	padding: 3px;
}

.menu {
	text-align: center;
	color: #353535;
	background-color: #e83535;
}

a.menu:link, a.menu:visited{
	font-size: 125%;
	color: #fff;
	text-decoration: none;
}

a.menu:hover{
	font-size: 125%;
	color: #ddd;
	text-decoration: none;
}

td{
	padding: 5px;
}

tr:nth-child(odd) {
	background-color: #e83535;
}

tr:nth-child(even) {
	background-color: #ef4545;
}