canvas {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

*{
	padding: 0;
	margin: 0;
	font-family: monospace;
}

.title {
	margin-top:50px;
	font-size: 400%;
	text-align: center;
	color: #ab3535;
}

.subtitle {
	margin-bottom:50px;
	font-size: 225%;
	text-align: center;
	color: #ab3535;
	font-weight: normal;
}

hr.menu{
	padding:2px;
	background-color: #e83535;
}

pre.menu{
	padding: 3px;
}

.menu {
	text-align: center;
	color: #353535;
	background-color: #e83535;
}

a.menu:link, a:visited{
	font-size: 125%;
	color: #fff;
	text-decoration: none;
}

a.menu:hover{
	font-size: 125%;
	color: #ddd;
	text-decoration: none;
}