tr, td, th {
	text-align: center;
	border: 1px solid #ffafaf;
	padding: 3px;
	background-color:  #e
}
table{
	border: 1px solid #161d1d;
	padding: 1px;
	margin: 12px 0;
	width: 100%;
	background-color: white;
}

th {
	background-color: #e83535;
	color: white;
	text-shadow: none;
}