.prettyprint{
	font-family: monospace;
	font-size: 75%;
	overflow-x: scroll;
	margin-bottom: 5px;
}

.sep {
	font-size: 150%;
	margin-top: 75px;
	text-align: center;
	background-color:#e83535;
	color: white;
	text-shadow: none;
	font-weight: normal;
}

.desc {
	font-family: monospace;
	font-size: 90%;
	border: 1px solid #161d1d;
	margin-top: 5px;
	padding: 5px;
	background-color: #ffefef
}

.tit {
	font-size: 110%;
	color: #bb0000;
	font-family: 'EB Garamond', serif;
}

b {
	margin-left: 5px;
}