html {
  overflow-y: scroll;
}

::selection {
  background: #f96262; 
  color: #fff;
}

*{
	padding: 0;
	margin: 0;
	font-family: monospace;
}

div.page {
	margin: 0 auto;
	left: 50%;
	border: 1px solid #161d1d;
	padding: 20px;
	width: 800px;
	color: #1d1616;
	font-size:125%;
	background-color: #fff;	
	box-shadow: 20px 20px #ffe5e5;
}


.Slide{
	width:100%;
	font-size: 70%;
	background-color: #fa5757;
	padding: 3px;
	color: white;
	text-align: center;
	text-shadow: 0px 0px white;
}

.Slide:hover{
	background-color: #e83535;
}

.SlideIMG{
	display: none;
}

.title {
	margin-top:50px;
	font-size: 400%;
	text-align: center;
	color: #ab3535;
}

.subtitle {
	margin-bottom:50px;
	font-size: 225%;
	text-align: center;
	color: #ab3535;
	font-weight: normal;
}

hr.menu{
	padding:1px;
	background-color: #e83535;
	border: 0;
}

pre.menu{
	padding: 3px;
}

.menu {
	text-align: center;
	color: #353535;
	background-color: #e83535;
}

a.menu:link, a.menu:visited{
	font-size: 125%;
	color: #fff;
	text-decoration: none;
}

a.menu:hover{
	font-size: 125%;
	color: #ddd;
	text-decoration: none;
}

